{% extends "base.html" %}
{% load static %}
{% block meta_title %}{{ block.super }} - Заказ стола {% endblock meta_title %}
{% block title %}Зал: {{ scheme.hall.name }} - Столы{% endblock %}
{% block content %}
    <div class="row">

        <div class="hall col-8">
        {% block hall %}

            {% include 'reservation/hall.html' %}

        {% endblock hall %}
        </div>

        <div class="reservation col-4">
        {% block reservation %}

            {% include 'reservation/reservation.html' %}

        {% endblock reservation%}
        </div>

    </div>

{% endblock %}

{% block extra_js %}
<script>
{#$( "select" ).change(function () {#}
{#    str = "";#}
{#    $( "select option:selected" ).each(function() {#}
{#      str += $( this ).text() + " ";#}
{#    });#}
{#    $( "div" ).text( str );#}
{#  })#}
{#  .change();#}

</script>
{% endblock %}