{#{% extends 'reservation/base.html' %}#}
{% load crispy_forms_tags %}

{% load static %}
{#<div class="jumbotron jumbotron-fluid">#}
<div class="">
  <div class="container">
{#    <h1 class="display-4">Hall</h1>#}
      <div class="lead">
      <div>
          <form action="{% url 'change_date' scheme.hall.id %}" method="POST" class="form-inline" >
              {% csrf_token %}
              {% crispy date_form %}
              <input class="btn btn-primary" type="submit" formaction="{% url 'change_date' scheme.hall.id %}"
                     value="Применить" name="change_button"  title='change_button'/>
          </form>
      </div>
        <p id="scheme-nav" class="text-center">
        <a href="{% url 'scheme' scheme.hall.id prev_day %}" title="Предыдущий день">Предыдущий день</a>
        <a href="{% url 'scheme' scheme.hall.id today %}" title="Сегодня">Сегодня</a>
        <a href="{% url 'scheme' scheme.hall.id next_day %}" title="Следующий день">Следующий</a>
        </p>
      {% if not scheme.placing_set.count %}
        <div class="alert alert-warning">
        В зале не размещены столы
        </div>
        {% else %}
      <div class="block-scheme ">
      {% for placing in placings %}

        <div id="table_{{ placing.table.id }}" class="table
{#        shape-{{ placing.table.shape }}#}
        {% if placing.pk in reservation %}reserved{% else %}available{% endif %}"
             style="width: {{ placing.table.size_x }}%;
                     height: {{ placing.table.size_y }}%;
                     top: {{ placing.coord_y }}%;
                     left: {{ placing.coord_x }}%;
                     {% if  placing.table.is_oval %}border-radius: 50%;{% endif %}"
             data-table_id="{{ placing.table_id }}"
             data-placing_id = '{{ placing.id }}'
             onclick="selectTable(this)"
            >
            <p class="h6">
            №{{ placing.table.table_number }}<br>
            Мест-{{ placing.table.number_of_seats }}
            </p>
        </div>
      {% endfor %}
      </div>
      {% endif %}

      </div>
    </div>
</div>