{% extends "base.html" %}

{% block title %}Залы{% endblock %}
{% block content %}
    <ul>
    {% for hall in halls %}
        <li><a href="{% url 'scheme' hall.pk date %}">{{ hall.name }}</a> </li>
    {% endfor %}
    </ul>

{% endblock %}