{% load crispy_forms_tags %}

{#    <div class="jumbotron jumbotron-fluid">#}
  <div class="container">
    <h2>Заказать стол</h2>
      <div class="lead">
          <form action="" method="POST" class="">
        <div id='reservation_id' class="">
        {% csrf_token %}
            {% crispy reservation_form %}
        </div>

        <div id="expand_id" class="d-none">
            {% crispy client_form %}
             <input class="btn btn-primary" type="submit" value="Подтвердить"
                    formaction="{% url 'reservation' scheme.hall_id %}" name="send_button" />
        </div>
    </form>
</div>
  </div>
{#</div>#}
<script>
</script>
