{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block meta_title %}Ресторан{% endblock %}</title>


    <meta name="description" content="Заказ столов">
    {% block extra_meta %}{% endblock extra_meta %}
      <!-- Include Styles -->
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Your stuff: Third-party CSS libraries go here -->
{#  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">#}
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<!-- This file stores project-specific CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block extra_css %}{% endblock extra_css %}

  </head>
  <body>

    <!-- Start Header -->
    <header class="" id="header">

      <!-- Start navbar -->
      <nav class="navbar  navbar-expand-sm navbar-light bg-light ">

        <!-- Start Container -->
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand btn-sm" href="#">Ресторан</a>
          <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#sub-header"
                  aria-controls="sub-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Items -->
          <div class="collapse navbar-collapse" id="sub-header">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.path == '/' %} active{% endif %}">
                <a class="nav-link btn-sm" href="{% url 'home' %}">Home  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% if '/hall' in request.path %} active{% endif %}">
                <a class="nav-link btn-sm" href="{% url 'halls' %}">Залы </a>
              </li>

            </ul>

          </div>
        </div>
        <!-- End Nav Container -->
      </nav>

    </header>
    <!-- End Header -->

      <!-- Start Content Columns -->
    <div class="" id="content-columns">

      <!-- Start Content Container -->
      <div class="container-fluid ">
        <div class="jambotron">
        <h2>{% block title %}{% endblock %}</h2>
            {% block statusmessages %}
          <!-- Status Message -->
          {% if messages %}
           <ul class="messages">
              {% for message in messages %}
             <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
              {% endfor %}
           </ul>
          {% endif %}

          {% endblock statusmessages %}

          {% block content %}


          {% endblock content %}

        </div>
          </div>
    </div>
      <!-- End Content Column -->

      <!-- Start Footer -->
      <footer class="bd-footer text-muted" id="footer" role="contentinfo">
            <hr/>
          <div class="">

            <div class="copyright col-12">

              &copy; 2018&mdash;{% now "Y" %} <a href="mailto:natalya2487@gmail.com" rel="author">Natalya Pimankova</a>
            </div>
          </div>
      </footer>

      <!-- End Footer -->


    <!-- Javascripts Section -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>      <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>