
/* navbar */
@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy-Regular.ttf);
}

.navbar-brand{
    font-family: 'Satisfy';
}

body{
    background: white;
    position: relative;
}

.hall{
    height: 100%;
}
.reservation {
    height: 100%;
}


div.block-scheme {
    min-height: 400px;
    height: 100%;
    padding: 10px;
    background: rgba(130, 191, 248, 0.45);
    color: #5b80b2;
    position: relative;
    border: #003366 solid;
}

.table{
    position: absolute;
    padding: 10px;
    border: solid;
    font-size: 12px;
    font-family: "Courier New", monospace;
    background: #ddffdd;
    opacity: 0.8;
}

.reserved{
    border-color: gray;
}
.available{
    border-color: blue;
}
.selected{
    border-color: red;
}
.shape-oval {
    border-radius: 50%;
}
.shape-rectangle {
    border-radius: 100%;
}
